
<body>
    <h3>Edit listing</h3>
       <form method="post" action="/listings/<%=editListing._id%>?_method=PUT" >
        <input type="text" name="editListing[title]" value="<%=editListing.title%>">
        <br><br>
        <textarea name="editListing[description]" ><%=editListing.description%></textarea>
        <br><br>
        <input type="text" name="editListing[image]" value="<%=editListing.image%>">
        <br><br>
        <input type="number" name="editListing[price]" value="<%=editListing.price%>">
        <br><br>
        <input type="text" name="editListing[location]" value="<%=editListing.location%>">
        <br><br>
        <input type="text" name="editListing[country]" value="<%=editListing.country%>">
        <br><br>
        <button>Add</button>
    </form>
    
</body>