<% layout("/layouts/boilerplate")%>

        <body>
            <h1 class="mt-3">All Hotels</h1>
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1">
                <% for(let listing of allListings){ %>
                    <a href="/listing/<%=listing._id%>">
                        <!-- <li><a href="/listing/<%=listing._id%>"><%= listing.title %></a></li> -->
                        <div class="card col listing-card">
                            <img src="<%=listing.image.url%>" class="card-img-top" alt="...">
                            <div class="card-img-overlay"></div>
                            <div class="card-body">
                                <p class="card-text">
                                    <b>
                                        <%=listing.title%>
                                    </b>
                                    <br>
                                    &#8377; <%=listing.price.toLocaleString("en-IN")%>/night
                                </p>
                            </div>
                        </div>
                    </a>
                    <% } %>
            </div>
        </body>